<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

</head>
<style>
    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
</style>
<body>
<div class="ch">
<script>
    if(`<%= user.verified %> = 0`){
        document.getElementsByClassName('ch').innerHTML = "Paragraph changed!";
    }
</script>
<nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand" href="dashboard.ejs">Navbar</a>

    <span style="float:right">
  <a  href="/earnings">  <button class="btn btn-outline-primary " >Earnings: $<%= user.points %> </button>  </a>
 <a  href="/profile">  <button class="btn btn-outline-success my-2 my-sm-0" >Profile</button>  </a>

    <a  href="/logout">  <button class="btn btn-outline-danger my-2 my-sm-0" >Logout</button>  </a>
</span>

    <!--    <a href="/profile"  class="btn btn-success btn-sm aling-left">Profile</a>-->
    <!--    <a href="/logout"  class="btn btn-danger btn-sm aling-left">Logout</a>-->
</nav>










<h2>user: <%= user.username %> </h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">
    $(function() {
        $.getJSON("https://cpalead.com/dashboard/reports/campaign_json.php?id=1678354&subid=<%= user.id %>&virtual_currency=0.5&country=IN&geoip=user&ua=user&format=JSONP&callback=?",
            function(data)
            {

                let offers = '';
                $.each(data.offers, function(o, offer)

                {
                    let  mon = Math.floor(offer.amount/2 * 100) / 100
                    offers += '' +
                        '<a href="' + offer.link + '&virtual_currency=' + mon + '" class="list-group-item" xmlns="http://www.w3.org/1999/html">'
                        +
                        '<h4>'+offer.title+ '</h4>' +
                        '<span style="float: right"> $'+ mon+'</span><div style="float: left"> '   + offer.conversion +'' +
                        '<button id="bt" data-copy="'+offer.link+'" href="'+offer.link+ '" onclick="myFunction()" value="'+offer.title+ '">Get link</button>' +
                        '</div>' +
                        '</a>';
                });
                // <div class="contact">
                //     <p class="contact-name"><strong>John Doe</strong></p>
                //     <p class="contact-phone"><a href="tel:1234567890">123-456-7890</a></p>
                //     <div class="btn-group">
                //         <a class="btn btn-primary btn-email" href="mailto:john.doe@email.com">Email John</a>
                //         <button type="button" class="btn btn-default btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" data-copy="john.doe@email.com" title="Copy to clipboard">
                //             <!-- icon from google's material design library -->
                //             <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
                //         </button>
                //     </div>
                // </div>
                $(".offer-list").html(offers);
                $(".progress").hide();
            });
    });
</script>

<div class="card">
    <div class="card-header">
        Dashboard
    </div>
    <div class="card-body">
<!--        <h5 class="card-title">Offers list</h5>-->
<!--        <div class="container">-->
            <div class="starter-template">

                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                </div>
                <div class="list-group offer-list"></div>
            </div>
<!--        </div>-->
    </div>
</div>





</div>
<script>
    function myFunction() {
        let copyText = document.getElementById("bt").href;
 console.log(copyText)
        // copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText);

        // let tooltip = document.getElementById("myTooltip");
        // tooltip.innerHTML = "Copied: " + copyText;
    }

    function outFunc() {
        let tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
</script>
</body>
</html>