<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Register</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

</head>
<body>
<div class="ch">
<script>
    if(`<%= user.verified %> = 0`){
        document.getElementsByClassName('ch').innerHTML = "Paragraph changed!";
    }
</script>
<nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand" href="dashboard.ejs">Navbar</a>

    <span style="float:right">
  <a  href="/earnings">  <button class="btn btn-outline-primary " >Earnings: $<%= user.points %> </button>  </a>
 <a  href="/profile">  <button class="btn btn-outline-success my-2 my-sm-0" >Profile</button>  </a>

    <a  href="/logout">  <button class="btn btn-outline-danger my-2 my-sm-0" >Logout</button>  </a>
</span>

    <!--    <a href="/profile"  class="btn btn-success btn-sm aling-left">Profile</a>-->
    <!--    <a href="/logout"  class="btn btn-danger btn-sm aling-left">Logout</a>-->
</nav>










<h2>user: <%= user.username %> </h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">
    $(function() {
        $.getJSON("https://cpalead.com/dashboard/reports/campaign_json.php?id=1678354&subid=<%= user.id %>&virtual_currency=&country=IN&geoip=user&ua=user&format=JSONP&callback=?",
            function(data)
            {

                let offers = '';
                $.each(data.offers, function(o, offer)

                {
                    let  mon = Math.floor(offer.amount/2 * 100) / 100
                    offers += '<a href="'+offer.link+'&virtual_currency='+mon +'" class="list-group-item"><h4>'+offer.title+ '</h4><span style="float: right">$'+ mon+'</span></a>';
                });
                $(".offer-list").html(offers);
                $(".progress").hide();
            });
    });
</script>

<div class="card">
    <div class="card-header">
        Dashboard
    </div>
    <div class="card-body">
        <h5 class="card-title">Offers list</h5>
        <div class="container">
            <div class="starter-template">

                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                </div>
                <div class="list-group offer-list"></div>
            </div>
        </div>
    </div>
</div>





</div>
</body>
</html>