
<html>
<head>
 <meta charset="utf-8" />
 <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
 />
 <title>Home - Brand</title>
 <meta name="" content="" />
 <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
 <link
         rel="stylesheet"
         href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
 />
 <link
         rel="stylesheet"
         href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
 />
 <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
 />
</head>
<body>
<nav
        class="
        navbar navbar-dark navbar-expand-lg
        fixed-top
        bg-dark
        navbar-custom
      "
>
 <div class="container">
  <a class="navbar-brand" href="#">Money monster</a
  ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navbarResponsive"
  >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
   <ul class="navbar-nav ms-auto">
    <li class="nav-item">
     <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="login">Log In</a>
    </li>
   </ul>
  </div>
 </div>
</nav>
<header class="text-center text-white masthead">
 <div class="masthead-content">
  <div class="container">
   <h1 class="masthead-heading mb-0">Earn money online</h1>
   <h6
           class="
              display-3
              text-center
              pulse
              animated
              masthead-subheading
              mb-0
            "
   >
    Easy and fast just by downloading apps and sharing links.
   </h6>
   <a
           class="btn btn-primary btn-xl rounded-pill mt-5"
           role="button"
           data-bss-hover-animate="rubberBand"
           href="signup"
   >signup now</a
   >
  </div>
 </div>
 <div class="bg-circle-1 bg-circle"></div>
 <div class="bg-circle-2 bg-circle"></div>
 <div class="bg-circle-3 bg-circle"></div>
 <div class="bg-circle-4 bg-circle"></div>
</header>
<section>
 <div class="container">
  <div class="row align-items-center">
   <div class="col-lg-6 order-lg-2">
    <div class="p-5">
     <img
             class="rounded-circle img-fluid"
             src="static/img/Untitled%20design.png"
     />
    </div>
   </div>
   <div class="col-lg-6 order-lg-1">
    <div class="p-5">
     <h2 class="display-4">New tasks every day</h2>
     <p>
      There are lots of tasks that you ca complete or even you can
      share the link of tasks to several peoples who will do your work
      and make money for you. Every day you got new tasks so their
      will be lots of work and money.
     </p>
    </div>
   </div>
  </div>
 </div>
</section>
<section>
 <div class="container">
  <div class="row align-items-center">
   <div class="col-lg-6 order-lg-1">
    <div class="p-5">
     <img
             class="rounded-circle img-fluid"
             src="static/img/Untitled%20design%20(1).png"
     />
    </div>
   </div>
   <div class="col-lg-6 order-lg-2">
    <div class="p-5">
     <h2 class="display-4">&nbsp;100% guaranteed payout</h2>
     <p>
      We believe in client satisfaction so we pay every penny that's
      yours, and also paying you is most important for us because we
      earn only when you earn. we have many payout options for you
      such as paytm, UPI, and paypal.
     </p>
    </div>
   </div>
  </div>
 </div>
</section>
<section>
 <div class="container">
  <div class="row align-items-center">
   <div class="col-lg-6 order-lg-2">
    <div class="p-5">
     <img
             class="rounded-circle img-fluid"
             src="static/img/$0.1click.png"
     />
    </div>
   </div>
   <div class="col-lg-6 order-lg-1">
    <div class="p-5">
     <h2 class="display-4">High rates of $0.1/click</h2>
     <p>
      &nbsp;we offer one of the highest CPI rates i the internet. for
      some of the tasks you will get as high as $0.1/click just set
      the offer link to 200 people you will git $20 for each
      offer.&nbsp;
     </p>
    </div>
   </div>
  </div>
 </div>
</section>
<footer class="py-5 bg-black">
 <div class="container">
  <p class="text-center text-white m-0 small">
   Copyright&nbsp;© Money Monster 2022
  </p>
 </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/js/script.min.js"></script>
</body>
</html>
